# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
**/venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code settings
.vscode/

# macOS files
.DS_Store

# PyCharm
.idea/

# Logs and databases
*.log
*.sqlite3


**/credentials.json
**/rb_venv
**/chroma_db
